@import 'fonts';

@import 'navbar';

body {
  font-family: $body-font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

a, a:hover {
  text-decoration: none;
}

.app {
  display: flex;
  max-width: 1116px;
  margin-left: auto;
  margin-right: auto;
}


#main {
  width: 70%;
}

.sub-section-title {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  &:after {
    content: '';
    flex-grow: 1;
    margin-left: 10px;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
  }
}

div.code-toolbar > .toolbar {
  top: 10px;
  right: 10px;
  .toolbar-item button {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2D2D2D;
    opacity: 0.7;
    transition: opacity .5s ease;
    &:hover {
      opacity: 1;
    }
  }
}
