div.code-toolbar {
  margin-bottom: 30px;
  .toolbar {
    top: 10px;
    right: 10px;
    .toolbar-item button {
      background-color: white;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      color: #2D2D2D;
      opacity: 0.7;
      transition: opacity .5s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

samp {
  font-size: 15px;
  color: #D75139;
  font-weight: 600;
  font-style: italic;
  white-space: pre-line;
}
