@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');


// Define fonts for body and headers
$headers-font: 'Dosis', sans-serif;
$body-font: 'Open Sans', sans-serif;


h1, h2 {
  font-family: $headers-font;
  margin-top: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
}
