.navbar {
  position: sticky;
  top: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: #151515;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .navbar-sub-sections {
      height: 0;
      overflow: hidden;
      transition: height .35s ease;
      .nav-sub-links {
        display: none;
        max-height: 55vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-thumb {
          background: #4a4a4a;
        }
      }
    }
    .nav-link {
      display: block;
      opacity: 0.6;
      border-radius: 5px;
      color: white;
      transition: all .5s ease;
      &:hover {
        opacity: 1;
        background: rgba(255,255,255,0.1);
      }
    }
    .section-link {
      padding: 20px;
      text-transform: uppercase;
    }
    .sub-section-link {
      padding: 10px 30px;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
}
