.navbar {
  position: sticky;
  top: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: #151515;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .nav-link {
      display: block;
      opacity: 0.6;
      border-radius: 5px;
      color: white;
      transition: all .5s ease;
      &:hover {
        opacity: 1;
        background: rgba(255,255,255,0.1);
      }
    }
    .section-link {
      padding: 20px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      width: 100%;
      text-align: left;
      font-family: $body-font;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:focus {
        outline: none,
      }
      svg {
        transition: all 0.2s;
        transition-delay: 0s;
      }
      &[is-open=true] svg {
        transform: rotate(180deg);
      }
    }
    .navbar-sub-sections {
      height: 0;
      overflow: hidden;
      transition: height .35s ease;
      .nav-sub-links {
        max-height: 55vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-thumb {
          background: #4a4a4a;
        }
        .sub-section-link {
          padding: 10px 30px;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }
  }
}
